# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Build
dist/
build/
client/dist/

# Environment
.env
.env.*
.env.example
client/.env
server/.env

# Ignore docs and license
docs/
LICENSE

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db